.firstlook{
    height: 80vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    &__figure{
        &_img{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
            filter: grayscale(100%);
            animation: open 1s linear;
            backface-visibility: hidden;
            
        }
        &_cap{
            z-index: 10000;
            transform: translate(15%,20%);
            font-size: 7rem;
            width: 60%;
            color: $color-white;
            // font-family: 'Oswald', sans-serif;
            // font-family: 'Libre Baskerville', serif;
            font-family: 'PT Sans', sans-serif;
            text-transform: capitalize;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1rem;
            // font-style: italic;
            // margin-bottom: -15%;
            opacity: 0;
            animation: slideleft .7s ease-in-out .8s forwards;
            backface-visibility: hidden;
        }
        &_btn{
            font-size: 2rem;
            color: $color-black;
            transform: translate(0%,-4rem);
            // box-shadow: 0 0 3rem rgba($color-white,.5);
        }

    }
}