.goToTop{
  cursor: pointer;
  z-index: 1000001;
  position: fixed;
  height: 5rem;
  width: 5rem;
  border-radius:100px;
  display: flex;
  justify-content: center;
  align-items:center;
  bottom: 6rem;
  right: 6rem;
  display: none;
  background-color: rgba($color-ims-grey,.8);
  & img{
    height: 3.5rem;
    transform: rotate(-100deg);
  }
}
